body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
    
}

.instr {
    text-align: start;
}

.red {
    background-color: #eb0345;
}

.green {
    background-color: #88f4a8;
}

.yellow {
    background-color: #fcfa6f;
}

.purple {
    background-color: #6f15b0;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}


@media (max-width:500px){
    .btn {
        height: 100px;
        width: 100px;
        margin: 2rem;
    }

}

/* @media (max-width: 800px) {
    .btn {
        height: 150px;
        width: 150px;
        margin: 2rem;
    }
} */