body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
    
}

.instr {
    text-align: start;
}

button {
    font-size: 1.2rem;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.6rem;
    padding: 0.6rem;
}

#start-btn {
    margin-right: 1rem;
}

#restart-btn {
    margin-left: 1rem;
}

.red {
    background-color: #eb0345;
}

.green {
    background-color: #88f4a8;
}

.yellow {
    background-color: #fcfa6f;
}

.purple {
    background-color: #6f15b0;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

#start-btn:hover,
#restart-btn:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

#start-btn:active,
#restart-btn:active {
    transform: scale(0.95);
}


@media (max-width:500px){
    .btn {
        height: 100px;
        width: 100px;
        margin: 2rem;
    }
    #start-btn,
    #restart-btn {
        width: 40%;           /* makes buttons smaller but clickable */
        padding: 10px 0;
        font-size: 16px;
        margin: 10px 5px;     /* spacing on mobile */
    }
}

/* @media (max-width: 800px) {
    .btn {
        height: 150px;
        width: 150px;
        margin: 2rem;
    }
} */